/* .head{
    text-align: center;
}

.filterr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filterritem{
    color: white;
    background-color: rgb(22, 93, 51);
}

.filterritem:hover{
    opacity: 50%;
}

.cardss{
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 120px;
    margin-top: 20px;
    min-height: 50vh;
}

.cardie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardone{
    width: 300px;
    background-color: aquamarine;
    border: 1px solid black;
    margin: 4px;
}

.images{
    width: 300px;
    aspect-ratio: 1/1;
}

.para1{
    font-size: large;
    font-weight: bold;
}

.likebutton{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.likebutton button {
    background-color: gray;
}
  
.likebutton button.liked {
    background-color: red;
}

.filterritem.selected {
    background-color: rgba(0, 0, 0, 0.6);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #22223b);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
    animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
    to {
        transform: rotate(1turn);
    }
}
body{
    background-color: lightpink;
}